*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Overpass', sans-serif;
    font-size: 62.5%;
    /* scroll-behavior: smooth; */
}
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #071722;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
  }
body{
    scroll-behavior: smooth;
    background-color: #082a3a;
}
button{
    border: none;
    background: none;
    cursor: pointer;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
*:focus {
    outline: none;
}
.header_container{
    width: 100%;
    height: auto;
}
.navbar_container{
    position: fixed;
    width: 100vw;
    height: auto;
    padding: 10px 0;
    z-index: 10;
    padding: 20px 25px;
    background-color: #071722;
}
.navbar_mobile{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.navbar_mobile button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar_mobile li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar_mobile p{
    color: #8cc8d4;
    padding-top: 10px;
    font-size: 3rem;
    font-weight: 700;
}
.navbar_container .navbar_logo{
    width: 40px;
}



/* main*/
.main_container{
    width: 100%;
    padding-top: 80px;
}
.main_container--background{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 500px;
}
.main_container .main_background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    height: auto;
    text-align: center;
    z-index: 1;
}
.main_name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_name .navbar_logo{
    width: 50px;
}
.main_name h1{
    color: #8cc8d4;
    padding-top: 10px;
    font-size: 4rem;
    font-weight: 700;
}
.main_content p{
    color: #a7a7a7;
    font-size: 1.6rem;
    font-weight: 700;
}
.main_content a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 150px;
    height: 35px;
    padding: 6px;
    text-decoration: none;
    color: #06151b;
    background-color: #61E8F1;
    font-size: 1.4rem;
    font-weight: 900;
    border-radius: 30px;
    border: 1px solid #06151b;
}

/*back button*/
.main_back-button{
    width: 40px;
    height: 40px;
    z-index: 2;
    position: absolute;
    top: 100px;
    left: 10px;
    cursor: pointer;
}

/* form search */
.main_header--search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: auto;
    padding-top: 45px;
}
.main_header--search h1{
    color: #fff;
    font-size: 1.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main_search-Form{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.main_search-Form input{
    width: 80%;
    max-width: 400px;
    height: 30px;
    padding-left: 5px;
    background-color: #071722;
    border: 1px solid #61E8F1;
    border-right: none;
    color: #a7a7a7;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.main_search-Form input::placeholder{
    padding-left: 5px;
}

.main_search-Form button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    width: 50px;
    height: 30px;
    background-color: #071722;
    border: 1px solid #61E8F1;
    border-left: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.main_search-Form img{
    width: 17px;
}


/* trending home */
.main-trending_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}
.main-trending_header{
    display: flex;
    justify-content: space-between;
}
.main-trending_header h2{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}
.main-trending_header button{
    min-width: 80px;
    height: 30px;
    background-color: #61E8F1;
    color: #06151b;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 10px;
}

.main-trending_movieList{
    width: 100%;
    display: flex;
    gap: 25px;
    padding-bottom: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.movie_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 180px;
    max-width: 200px;
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    cursor: pointer;
}
.movie_container img{
    min-width: 180px;
    max-width: 200px;
    width: 100%;
    min-height: 270px;
    max-height: 300px;
}
.movie_container p{
    font-size: 1.4rem;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*categories Preview*/
.main-categories_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
}
.main-categories_container h2{
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}
.main-categories_categoryList{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;

}
.category_container{
    max-width: 170px;
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
    padding: 5px 7px 5px 5px;
    border-radius: 10px;
    background-color: #071722;
    border: 1px solid #61E8F1;
    cursor: pointer;
}
.category_container img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.category_container h3{
    padding-top: 1px;
    font-size: 1.4rem;
    color: #fff;
}
/* categories Section  */

.main_header--categories{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 30px;
}
.main_header--categories h2{
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}
.main_header--categories .movie_container img, .main_header--categories .movie_container{
    min-width: 120px;
    max-width: 180px;
    width: 100%;
    min-height: 200px;
    max-height: 230px;
}
.main_header--categoryList{
    display: grid;
    gap: 20px;
    place-content: center;
    grid-template-columns: auto auto;
}
/* movie section */
.main_header--movie{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%);
    height: auto;
    width: 100%;
    position: relative;
}
.movie-detail_background{
    width: 100%;
    height: 480px;

}
.movie-info_container{
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 25px 15px 10px 15px;
    background-color: #082a3a;
    color: #fff;
    position: absolute;
}
.movie_title{
    display: flex;
    justify-content: space-between;
}
.movie_title h1{
    font-size: 2.1rem;
}
.movie-info_rate{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.movie-info_rate img{
    padding-bottom: 2px;
    width: 10px;
}
.movie-info_rate span{
    font-size: 1.2rem;
}
.movie-info_container p{
    font-size: 1.5rem;
    color: #81b0c4;
}
.movie-info_container h3{
    font-size: 1.8rem;
}
.movie_categories{
    width: 90%;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
}
.movie_categories .category_container{
    min-width: 130px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.movie_categories .category_container h3{
    font-size: 1.3rem;
}
.movie_categories .category_container img{
    width: 35px;
    height: 35px;
}
.movie_similars h3{
    font-size: 1.8rem;
}
.movie_similars--list{
    width: 100%;
    display: flex;
    gap: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

/* search Section */
.main-generic_container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 30px;
}
.main_generic-list{
    display: grid;
    gap: 20px;
    place-content: center;
    grid-template-columns: auto auto;
}

.main_generic-list .movie_container img, .main_generic-list .movie_container{
    min-width: 120px;
    max-width: 180px;
    width: 100%;
    min-height: 200px;
    max-height: 230px;
}

/* footer */
.footer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 30px;
    background-color: #071722;
}
.footer_content{
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_content p{
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff

}
.footer_logos{
    display: flex;
    gap: 15px;
}
.footer_logos img{
    width: 30px;
    cursor: pointer;
}
.footer_logos a:hover{
    opacity: 0.5;
}


.inactive{
    display: none;
}